body {
    margin: 0x;
}

.background {
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.console {
    background-color: lightgray;
}

.margin-right {
    margin-right: 10px;
}

.hiddenResources {
    display: none !important;
}